/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(250, 250, 210, 0.5);
}

/* header styles */

/* navigation styles */
.menu {
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.menubar {
    font-size: 12px;
}

.menubar>a {
    text-decoration: none;
    color: black;
}

.menubar-item {
    margin-left: 20px;
}