/* common styles or utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(250, 250, 210, 0.5);
    width: 100%;
}

.container,
.inside-container {
    width: 90%;
    margin: 0 auto;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 70px;
    background-color: crimson;
    color: white;
    font-size: 12px;
    /* margin-left: 10px; */
}

/* header styles */

/* navigation styles */
.menu {
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.menubar {
    font-size: 12px;
}

.menubar>a {
    text-decoration: none;
    color: black;
}

.menubar-item {
    margin-left: 20px;
}

.responsive-mmenubar {
    display: none;
}

/* title section styles */
.title-section {
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    margin-top: 20px;

}

.title-content {
    width: 50%;
}

.title-text {
    margin-bottom: 15px;
}

.title-img {
    width: 50%;
}

.title-img>img {
    width: 100%;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
}

/* company logos styles */
.company-logos {
    border: 2px solid rgb(240, 238, 238);
    border-left: none;
    border-right: none;
    /* display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    gap: 20px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

/* collections section styles */
.collection-section {
    margin-top: 50px;
    text-align: center;
}

.collections {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
}

.item {
    width: 250px;
    height: 350px;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 30px lightgray;
}

.item-img>img {
    width: 100%;
}

.item-info {
    margin-top: 10px;
    text-align: left;
}

.item-title {
    margin-bottom: 10px;
}

.fa-star,
.fa-star-half-stroke {
    color: gold;
}

.item-text {
    font-size: 12px;
    margin-bottom: 5px;
}

.item-text>span {
    margin-left: 5px;
}

/* footer section styles */
.footer-section {
    margin-top: 50px;
    background-color: rgb(42, 22, 63);
    color: white;
    width: 100%;
    height: 150px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content,
.social-icon {
    text-align: center;
    margin: 7px 0;
}

.footer-content h3 {
    margin-bottom: 5px;
}

.fa-brands {
    color: white;
}

.icon {
    background-color: rgb(90, 60, 122);
    padding: 10px;
    border-radius: 50%;
}

/* media queries */

@media only screen and (max-width: 500px) {
    .container {
        /* background-color: red; */
    }

    .menu,
    .fa-cart-shopping {
        font-size: 25px;
    }

    .responsive-menubar-item {
        display: none;
    }

    .responsive-mmenubar {
        display: block;
    }

    .title-section {
        flex-direction: column-reverse;
    }

    .title-content {
        width: 100%;
        text-align: center;
    }

    .title-img {
        width: 100%;
        /* text-align: center; */
        margin-bottom: 30px;
    }

    .btn {
        padding: 30px 70px;
    }

    .company-logos {
        flex-wrap: wrap;
        border: none;
        column-gap: 10px;
    }

    .collections {
        grid-template-columns: repeat(1, 1fr);
    }

    .item {
        width: 100%;
        height: 100%;
    }
}